@font-face {
  font-family: "Pinyon";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("PinyonScript-Regular.woff") format("woff"), url("PinyonScript-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Neuzeit";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("NeuzeitGroteskRegular.woff") format("woff"), url("NeuzeitGroteskRegular.woff2") format("woff2");
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: url('oog3.png'), auto;
}

body {
  font-family: "Neuzeit";
  padding: 20px;
  overflow: auto;
  min-height: 100vh;
}

.back-button {
  font-family: "Neuzeit";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding: 10px 15px;
  transition: color 0.3s;
}

.back-button:hover {
  color: rgb(0, 0, 0);
}

.gallery {
  position: relative;
  width: 2500px;
  height: 2000px;
  padding: 50px;
}

.wrapper {
  position: absolute;
}

.wrapper:nth-child(1) {
  top:90px;
  left: 100px;
  width: 400px;
}

.wrapper:nth-child(2) {
  top: 200px;
  left: 650px;
  width: 400px;
}

.wrapper:nth-child(3) {
  top: 80px;
  left: 1150px;
  width: 400px;
}

.wrapper:nth-child(4) {
  top: 630px;
  left: 200px;
  width: 500px;
}

.wrapper:nth-child(5) {
  top: 650px;
  left: 950px;
  width: 400px;
}

.wrapper:nth-child(6) {
  top: 500px;
  left: 1500px;
  width: 400px;
}


.wrapper:nth-child(7) {
  top: 900px;
  left: 190px;
  width: 400px;
}

.wrapper:nth-child(8) {
  top: 40px;
  left: 1800px;
  width: 400px;
}

.wrapper:nth-child(9) {
  top: 580px;
  left: 2000px;
  width: 390px;
}

.wrapper:nth-child(10) {
  top: 1200px;
  left: 590px;
  width: 400px;
}

.wrapper:nth-child(11) {
  top: 1200px;
  left: 1300px;
  width: 400px;
}

.wrapper:nth-child(12) {
  top: 900px;
  left: 1500px;
  width: 400px;
}

.wrapper:nth-child(13) {
  top: 1000px;
  left: 1000px;
  width: 400px;
}


.wrapper:nth-child(14) {
  top: 1100px;
  left: 2000px;
  width: 300px;
}

.wrapper:nth-child(15) {
  top: 1420px;
  left: 60px;
  width: 400px;
}

.image {
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(254, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
  padding: 20px;
}

.content:hover {
  opacity: 1;
}

.content p {
  font-family: "Neuzeit";
  font-size: 21px;
  color: #000000;
  text-align: center;
}

.content p.subtitle {
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
}

.content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.content:hover > * {
  transform: translateY(0px);
}